# Ignore List
.DS_Store

############################
# Environment Variables
############################
.env
.env.*
!.env.example

############################
# Node / pnpm
############################
node_modules/

############################
# Vue / Vite
############################
dist/
.vite/
vite.config.ts.timestamp-*
.cache/


############################
# Misc
############################
*.bak
